{% extends 'base.html' %}
{% load static %}
{% block title %}Create Affirmation - on a + note{% endblock %}

{% block content %}
<div class="container">
    <br><br><br><br><br><br>
    <h1>Create a New Affirmation</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-group">
            {{ form.text.label_tag }}
            {{ form.text }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}