.Button {
    min-width: 75px;
    align-self: center;
    background-color: #009797;
    font-size: 14px;
    border-color: transparent;
    border-radius: 100px;
    padding: 4px 10px;
    margin: 0 2px;
}

.Button:hover {
    background-color: #008080;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #008080 !important;
}

.Button:active {
    background-color: #008080 !important;
}

.Button:focus {
    background-color: #008080;
}

.Wide {
    width: 100%;
    padding: 10px 50px;
}