.header {
    background-color: #CCCCCC;
    height: 120px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

/* margin in the navbar next to note */
.note-link {
    margin-right: 20px; 
}

.footer img {
    max-width: 100px;
    max-height: 100px;
}

.footer .row {
    display: flex;
    justify-content: center;
}
.footer .col-md-4, .footer .col-lg-3 {
    text-align: center;
}

.carousel-inner {
    height: 386px;
    overflow: hidden;
}

.carousel-item {
    margin: 0 auto;
}

.carousel-item img {
    max-height: 270px;
}

.content-container {
    margin-top: 120px; 
}

/* CSS for Contributor Names footer */
.contributor-name {
    text-align: center;
}

/* CSS for Carousel Control Arrows */
.carousel-control-prev,
.carousel-control-next {
    color: #FFB6C1;
}

.footer {
    background-color: #CCCCCC;
    padding: 20px;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    /* position: fixed;  */
    bottom: 0;
    left: 0;
    z-index: 1000; 
}

/* LANDING PAGE */

.img-container {
    width: 100%;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 500px;
    background-color: #000;
    background: url('https://imgur.com/tEZ1lVB.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    animation: opacity 15s infinite ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: #38382d;
    overflow: hidden;
    transition: ease all 2s;
}

.quote-wrapper {
    max-width: 90%;
    margin: 0 0 0 0;
    animation: opacity-out 15s infinite ease-in-out;
}

@keyframes opacity-out {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quote, .line {
    width: 100%;
    position: absolute;
    top: -350px;
    color: #fff;
    transition: ease all 1s;
    z-index: 4;
}

.quote {
    font-family: "Cormorant SC", sans-serif;
    font-size: 400%;
    font-weight: 600;
    text-shadow: 0 0 10px #000000;
}

.line {
    text-shadow: 0 0 10px #000;
    font-size: 180%;
    padding: 5% 8%;
    margin: 2% 0 0 0;
}

.notes-row {
    height: 70vh;
}

.square-border {
    width: 30vh;
    height: 30vh;
    border: 1px solid black;
    padding: 15px;
}

.second-note {
    margin-top: 10%;
}

/* Rate Us Modal */

.rating{
    text-align: center;
}
.star {
    margin: 0 5px 15px;
    font-size: 1.8em;
    color: #929292;
    cursor: pointer;    
}
.star:hover{
    transform: scale(1.2);
}
#modal-header{
    display: block;
    text-align: center;
}
.colored {
    color: gold;
}

/* Login page */

.login-container{
    margin: 15em auto;
    width: 80%;
    max-width: 500px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 6px 10px 0px grey;
}

.login-btn{
    width: 100%
}

.signup-text{
    font-size: 0.8em;
    margin-top: 1em;
    text-align: end;
}