body {
    font-family: 'Bad Script', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Happy Monkey', sans-serif;
}

.header {
    background: linear-gradient(135deg, #f8f85f, #f98b9e, #ffdee4);
    height: 120px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

#sun{
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg, yellow, #ffbd00, transparent);
    position: absolute;
    top: -30px;
    left: -40px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 9px #fff;
}

/* margin in the navbar next to note */
.note-link {
    margin-right: 20px;
}

.footer img {
    max-width: 100px;
    max-height: 100px;
}

.footer .row {
    display: flex;
    justify-content: center;
}

.footer .col-md-4,
.footer .col-lg-3 {
    text-align: center;
}

.carousel-inner {
    height: 396px;
    overflow: hidden;
}

.carousel-item {
    margin: 0 auto;
}

.carousel-item img {
    height: 270px; /* Keep the height at 270px */
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image does not exceed the container's width */
    display: inline-block; /* Prevents images from stacking */
}


.content-container {
    margin-top: 120px;
}

/* CSS for Contributor Names footer */
.contributor-name {
    text-align: center;
}

/* CSS for Carousel Control Arrows */
.carousel-control-prev,
.carousel-control-next {
    color: #FFB6C1;
    width: 30px;
}

.footer {
    background: linear-gradient(160deg, #f98b9e, #ffdee4 90%, transparent);
    padding: 20px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    /* position: fixed;  */
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* LANDING PAGE */

.note.note1 {
    background: linear-gradient(328deg, #ef63aa75, #ffcc6696);
}

.note.note2 {
    background: linear-gradient(328deg, #ef63aa75, #ffcc6696);
}

.note.note3 {
    background: linear-gradient(328deg, #ef63aa75, #ffcc6696);
}

.note {
    width: 100%;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Ensure the z-index works properly */
}

/* Integrated curved post-it effect */

    .note {
        width: 250px;
        height: 240px;
        position: relative;
        overflow: hidden;
        margin: 30px auto;
        padding: 20px;
        box-shadow: inset 3px -4px 20px rgba(0, 0, 0, 0.2), inset 0px -7px 14px rgb(0 0 0 / 0%), 2px 4px 6px 5px rgb(0 0 0 / 0%);
        line-height: 1.7em;
        font-size: 19px;
        color: #130d6b;
        border-radius: 0 0 0 30px/45px;
        padding-bottom: 40px;
    }



.note:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 25px;
    background: #ffcc66; 
    left: 0;
    bottom: 0;
    z-index: 2;
    transform: skewX(25deg);
}

.note:after {
    content: "";
    display: block;
    position: absolute;
    width: 75%;
    height: 20px;
    border-radius: 50%;
    bottom: 0px;
    left: 10%;
}

.button-affirmation {
justify-content: end;
background-color: pink;
color: #000 ;
}

/*.button-affirmation:hover {
    justify-content: end;
    background-color: pink;
    color: #fff;
}*/

.pink {
    color: #e63cb0;
}

.img-container {
    width: 100%;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 500px;
    background-color: #000;
    background: url('https://imgur.com/tEZ1lVB.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    animation: opacity 15s infinite ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: #38382d;
    overflow: hidden;
    transition: ease all 2s;
}

.quote-wrapper {
    max-width: 90%;
    margin: 0 0 0 0;
    animation: opacity-out 15s infinite ease-in-out;
}

/* For the text on landing page to be spaced" */

.margin-20 {
    margin-top: 20px;
}

@keyframes opacity-out {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.quote,
.line {
    width: 100%;
    position: absolute;
    top: -350px;
    color: #fff;
    transition: ease all 1s;
    z-index: 4;
}

.quote {
    font-family: "Cormorant SC", sans-serif;
    font-size: 400%;
    font-weight: 600;
    text-shadow: 0 0 10px #000000;
    margin: -35px;
}

.line {
    text-shadow: 0 0 10px #000;
    font-size: 180%;
    padding: 5% 8%;
    margin: 2% 0 0 0;
}

.notes-row {
    height: 70vh;
}

.square-border {
    width: 30vh;
    border: 0px solid black;
    padding: 15px;
}

.second-note {
    margin-top: 10%;
}

/* Rate Us Modal */

.rating {
    text-align: center;
}

#rating-Btn, .submit-btn {
    background-color: #ff5fcc;
    color: #000!important;
    padding: 10px 20px;
}

#rating-sutmitbtn:hover, .submit-btn:hover, #rating-Btn:hover, .button-affirmation:hover {
    background-color: #811b61!important;
    color: #fff !important; 
}

#rating-sutmitbtn {
    background-color: #e63cb0;
    color: #FFF;
}

.star {
    margin: 0 5px 15px;
    font-size: 1.8em;
    color: #929292;
    cursor: pointer;
}

.star:hover {
    transform: scale(1.2);
}

#modal-header {
    display: block;
    text-align: center;
}

.colored {
    color: gold;
}

/* Login/ logout page */

.login-container {
    margin: 15em auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    background: linear-gradient(135deg, #fff095, #f7a9b778, #fea6b685, transparent);
}

.login-btn {
    width: 100%
}

.signup-text {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: end;
}

#logout-container {
    margin: 15em auto;
    width: 80%;
    max-width: 500px;
}

.logout-container {
    display: block;
}

/* contact us page */
.contact-container{
    background: linear-gradient(135deg, #FFF095, #f7a9b778, #fea6b685, transparent);
}

.contact-container input {
    width: 60%;
}

.contact-container textarea {
    width: 90%;
}

/* NOTE PAGE */

.container-note {
    margin-bottom: 29px;
    padding: 10px;
}

.container-note .btn{
    background-color: hsl(306, 100%, 90%);
    box-shadow: 1px 1px 0px #666666;
    color: #000;
    border-color: transparent;
    margin: 5px auto;
    
}

.container-note .btn:hover{
    color: #5c005f;
    border-color: transparent;
    box-shadow: inset 0 0 3px #666666;
    background-color: hsl(305, 100%, 83%);
}

.note-window {
    width: 100%;
    height: 100%;
    border: 3px double #b58a4e7a;
    box-shadow: inset 0 0 110px #f1ca52ab;
    padding: 5%;
}

.affirmation {
    text-shadow: 3px 2px 1px #e4e3e394;
    margin-top: 7%;
}


#reset-margin{
    margin: 5px auto !important;
}

.note-display{
    border-radius: 10px;
    padding: 30px 20px;
    cursor: pointer;
}

.card-text:hover {
    text-decoration: underline;
}

/* Hide the mobile logo by default */
.logo.mobile {
    display: none;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }

    /* Hide note 2 and note 3 */
    .note2,
    .note3 {
        display: none;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }
}

.btnaffirm {
    justify-content: right;
}

.container-unlock {
    font-weight: 300;
    color: #4d4d4d;
}

/*responsiveness for note section*/
@media (max-width: 650px){
    #container-fluid{
        padding: unset;
        margin: unset;   
    }
    .container-note{
        display:block;
    }
    
    #note-innercontainer, #note-display, #note-display-container{
        margin: unset !important;
        margin-bottom: 20px !important;
        max-width: unset;
        text-align: center;
    }

    .container-note .btn{
        width: 60%;
    }
}
    /* Hide note 2 and note 3 */
    .note2,
    .note3 {
        display: block;
    }

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }

}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS styles for large devices here */
}

@media (max-width: 767.98px) {
    .container-unlock {
        font-size: 1.5rem;
        /* Adjust the font size as needed for smaller screens */
        line-height: 1.4;
        /* Adjust the line height as needed for smaller screens */
    }
}

/*-----------------------------contact.html-----------------------------------------*/

input#id_name {
    width: 90% !important;
}

input#id_email {
    width: 90% !important;
}

/* CSS animation for bouncing effect */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  /* Apply bouncing animation to the envelope icon */
  .bounce {
    animation: bounce 2s infinite; /* Apply bouncing animation infinitely */
  }

  .bounce {
    color: #e63cb0;
  }

/* Media query for small screens */
@media (max-width: 768px) {
/* Adjust width for small screens */
input#id_name,
input#id_email {
    width: 100%  !important; /* Set width to 100% for small screens */
}
textarea#id_message {
    width: 100% !important;
}
}

/*-----------------------------success.html-----------------------------------------*/

.text-success {
    color: #f758c5 !important;
}

button.btn.back-home {
    background-color: #666666;
    border-radius: 5px;
    margin-top: 30px;
}

a.nav-link.home-link, .nav-link, 
.navbar-light, .navbar-nav, .nav-link  {
    color: white;
    /*display: !important flex;
    justify-content: !important end;*/
}

li.nav-item{
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-left: 10px;
}


/* Enlarge effect for the button on hover */
.back-home:hover {
    transform: scale(1.1); /* Enlarge the button by 10% */
}

/* Style for the link */
.home-link {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */

}

/*-----------------------------register.html-----------------------------------------*/

.form-group.no-label {
    margin: 0;
}

p.signup-text.text-center {
    font-size: 0.9em;
    margin-top: 2em;
}

a#green {
    color: #28a745;
    font-weight: 600;
}

.register-btn {
    transition: transform 0.3s ease; /* Add a transition effect for the transform property */
}

.register-btn:hover {
    transform: scale(1.1); /* Enlarge the button by 10% on hover */
}

.hover-enlarge:hover {
    transform: scale(1.1);
}

ul.errorlist {
    color: #d21e1e;
    border: solid 2px;
    border-color: #d21e1e;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p.mt-5.text-center.are-you-sure {
    margin-bottom: 2rem;
}

.text-center.push-it-down {
    margin-bottom: 4rem;
}

/*-----------------------------messages-----------------------------------------*/

.col-md-8.offset-md-2.msg2.justify-content-center {
    background-color: #f758c5;
    margin-top: 1rem;
    color: white;
    display: flex;
    font-size: large;
}

.navbar-collapse {
    justify-content: flex-end;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown-menu-end {
        right: 0;
        left: auto;
    }
}

/* heart pulse on note page */

/* Add this to your CSS file */
.heart-pulse {
    position: absolute;
    top: 10px;
    right: 10px;
}

.heart-img {
    width: 80px;
    height: auto;
    animation: pulse 1s infinite alternate; 
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}



ul.navbar-nav.ms-auto.mb-2.mb-lg-0.dropdown-menu-end.ml-auto {
    position: absolute;
    right: 0;
    padding-right: 4%;

/*override bootstrap carousel arrows*/

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc6c97' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fc6c97' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;

}