.header {
    background-color: #CCCCCC;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* margin in the navbar next to note */
.note-link {
    margin-right: 20px; 
}

.footer img {
    max-width: 100px;
    max-height: 100px;
}

.footer .row {
    display: flex;
    justify-content: center;
}
.footer .col-md-4, .footer .col-lg-3 {
    text-align: center;
}

.carousel-item img {
    max-height: 230px;
    max-width: 230px;
}

.content-container {
    margin-top: 120px; 
}

/* CSS for Contributor Names footer */
.contributor-name {
    text-align: center;
}

/* CSS for Carousel Control Arrows */
.carousel-control-prev,
.carousel-control-next {
    color: #FFB6C1;
}

.footer {
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-height: 200px; 
    overflow-y: auto; 
    position: fixed; 
    bottom: 0;
    left: 0;
    z-index: 1000; 
}