body {
    font-family: 'Bad Script', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Happy Monkey', sans-serif;
}

.header {
    background-color: #CCCCCC;
    height: 120px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
}

/* margin in the navbar next to note */
.note-link {
    margin-right: 20px;
}

.footer img {
    max-width: 100px;
    max-height: 100px;
}

.footer .row {
    display: flex;
    justify-content: center;
}

.footer .col-md-4,
.footer .col-lg-3 {
    text-align: center;
}

.carousel-inner {
    height: 386px;
    overflow: hidden;
}

.carousel-item {
    margin: 0 auto;
}

.carousel-item img {
    max-width: auto; 
    height: 270px; 
}

.content-container {
    margin-top: 120px;
}

/* CSS for Contributor Names footer */
.contributor-name {
    text-align: center;
}

/* CSS for Carousel Control Arrows */
.carousel-control-prev,
.carousel-control-next {
    color: #FFB6C1;
}

.footer {
    background-color: #CCCCCC;
    padding: 20px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    /* position: fixed;  */
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* LANDING PAGE */

.note.note1 {
    background-color: #ffcc66; /* Orange */
}

.note.note2 {
    background-color: #99ccff; /* Blue */
}

.note.note3 {
    background-color: #99ff99; /* Green */
}

.note {
    width: 100%;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Ensure the z-index works properly */
}

/* Style the top-left corner of the note */
.note::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #d4d4d4;
    width: 0;
}

/* Style the bottom-right corner of the note */
.note::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #d4d4d4;
    width: 0;
}

.button-affirmation {
justify-content: end;
}

.img-container {
    width: 100%;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 500px;
    background-color: #000;
    background: url('https://imgur.com/tEZ1lVB.png') no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    animation: opacity 15s infinite ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 0.5;
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background: #38382d;
    overflow: hidden;
    transition: ease all 2s;
}

.quote-wrapper {
    max-width: 90%;
    margin: 0 0 0 0;
    animation: opacity-out 15s infinite ease-in-out;
}

/* For the text on landing page to be spaced" */

.margin-20 {
    margin-top: 20px;
}

@keyframes opacity-out {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.quote,
.line {
    width: 100%;
    position: absolute;
    top: -350px;
    color: #fff;
    transition: ease all 1s;
    z-index: 4;
}

.quote {
    font-family: "Cormorant SC", sans-serif;
    font-size: 400%;
    font-weight: 600;
    text-shadow: 0 0 10px #000000;
    margin: -35px;
}

.line {
    text-shadow: 0 0 10px #000;
    font-size: 180%;
    padding: 5% 8%;
    margin: 2% 0 0 0;
}

.notes-row {
    height: 70vh;
}

.square-border {
    width: 30vh;
    border: 0px solid black;
    padding: 15px;
}

.second-note {
    margin-top: 10%;
}

/* Rate Us Modal */

.rating {
    text-align: center;
}

.star {
    margin: 0 5px 15px;
    font-size: 1.8em;
    color: #929292;
    cursor: pointer;
}

.star:hover {
    transform: scale(1.2);
}

#modal-header {
    display: block;
    text-align: center;
}

.colored {
    color: gold;
}

/* Login/ logout page */

.login-container {
    margin: 15em auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.login-btn {
    width: 100%
}

.signup-text {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: end;
}

#logout-container {
    margin: 15em auto;
    width: 80%;
    max-width: 500px;
}

.logout-container {
    display: block;
}

/* contact us page */
.contact-container input {
    width: 60%;
}

.contact-container textarea {
    width: 90%;
}

/* NOTE PAGE */

.container-note {
    margin-bottom: 29px;
    padding: 10px;
}

.container-note .btn{
    background-color: hsl(292, 79%, 96%);
    color: #000;
    border-color: #000;
    margin: 5px auto;
    
}

.container-note .btn:hover{
    color: #5c005f;
    border-color: #000;
    background-color: hsl(292, 93%, 89%);
}

.note-window {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    padding: 5%;
}

#reset-margin{
    margin: 5px auto !important;
}

.note-display{
    border-radius: 10px;
    padding: 30px 20px;
    background-color: hsl(60, 80%, 96%);
    cursor: pointer;
}

/* Hide the mobile logo by default */
.logo.mobile {
    display: none;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }

    /* Hide note 2 and note 3 */
    .note2,
    .note3 {
        display: none;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }
}

/*responsiveness for note section*/
@media (max-width: 650px){
    #container-fluid{
        padding: unset;
        margin: unset;   
    }
    .container-note{
        display:block;
    }
    
    #note-innercontainer, #note-display, #note-display-container{
        margin: unset !important;
        margin-bottom: 20px !important;
        max-width: unset;
        text-align: center;
    }

    .container-note .btn{
        width: 60%;
    }
}
    /* Hide note 2 and note 3 */
    .note2,
    .note3 {
        display: none;
    }
}



/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Hide card 2 and card 3 */
    .card2,
    .card3 {
        display: none;
    }

}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* CSS styles for large devices here */
}

@media (max-width: 767.98px) {
    .container-unlock {
        font-size: 1.5rem;
        /* Adjust the font size as needed for smaller screens */
        line-height: 1.4;
        /* Adjust the line height as needed for smaller screens */
    }
}

/*-----------------------------contact.html-----------------------------------------*/

input#id_name {
    width: 90% !important;
}

input#id_email {
    width: 90% !important;
}

/* CSS animation for bouncing effect */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  /* Apply bouncing animation to the envelope icon */
  .bounce {
    animation: bounce 2s infinite; /* Apply bouncing animation infinitely */
  }

/* Media query for small screens */
@media (max-width: 768px) {
/* Adjust width for small screens */
input#id_name,
input#id_email {
    width: 100%  !important; /* Set width to 100% for small screens */
}
textarea#id_message {
    width: 100% !important;
}
}

/*-----------------------------csuccess.html-----------------------------------------*/

.text-success {
    color: #f758c5 !important;
}

button.btn.back-home {
    background-color: #666666;
    border-radius: 5px;
    margin-top: 30px;
}

a.nav-link.home-link {
    color: white;
}

/* Enlarge effect for the button on hover */
.back-home:hover {
    transform: scale(1.1); /* Enlarge the button by 10% */
}

/* Style for the link */
.home-link {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
}