{% extends 'base.html' %}
{% load static %}
{% block title %}Favorites - on a + note{% endblock %}

{% block content %}
<br><br><br><br><br><br><br>
<div class="container-fluid text-center">
    <h1>{{ user.username }}'s Favorite Affirmations</h1>
</div>
<div class="container-fluid">
    {% if favorites %}
    <div class="row col-12 d-flex justify-content-center">
        {% for favorite in favorites %}
            <div class="col-3 border p-4 m-1">
                <div>
                    <div class="mb-5">
                        {% if favorite.category %}
                        {{ favorite.category.title }}
                        {% endif %}
                    </div>
                    <div>
                        {{ favorite.affirmation.text }} 
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-end align-bottom mt-4">
                        <a href="{% url 'remove_favorite' favorite.id %}">Remove from Favorites</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row col-12 d-flex justify-content-center">
            <p class="col-3 p-4">No Favorites yet</p>
    </div>
    {% endif %}
</div>
{% endblock %}