{% extends 'base.html' %}
{% load static %}
{% block title %}Home - on a + note{% endblock %}

{% block content %}
<div class="hero-container content-container">
    <div class="hero-image">
        <!-- Your hero image goes here -->
    </div>
    <div class="hero-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Your logo and name goes here -->
                    <img src="{% static 'images/logo.png' %}" alt="logo">
                    <h1 class="hero-title">Your Project Name</h1>
                    <p class="hero-tagline">Your project tagline goes here</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada velit ut mauris fermentum, id
                tempus lectus vestibulum. Donec nec magna id justo laoreet feugiat. Vivamus commodo diam quis metus
                vehicula, nec finibus quam posuere. Aenean consectetur fringilla nulla a vehicula. Phasellus a magna nec
                dui tempus volutpat.</p>
            <a href="placeholder" class="btn btn-primary">Affirmations</a>
            <!-- Placeholder link for now -->
            <!-- <a href="#" class="btn btn-primary">Affirmations</a> -->
        </div>
    </div>
</div>

<!--Carousel with contributors-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3">
                    <a href="https://github.com/GOkwori" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-george.png" alt="George">
                        <p class="contributor-name">George</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://github.com/MiaRasmussen05" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-mia.png" alt="Mia">
                        <p class="contributor-name">Mia</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://github.com/missdays" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-jen.png" alt="Jen">
                        <p class="contributor-name">Jen</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://github.com/Priyanka-Dhanabal" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-priyanka.png" alt="Priyanka">
                        <p class="contributor-name">Priyanka</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3">
                    <a href="https://github.com/adrianskelton" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-adrian.png" alt="Adrian">
                        <p class="contributor-name">Adrian</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://github.com/adrianskelton" target="_blank" rel="noopener noreferrer">
                        <img class="d-block w-100" src="static/images/contributer-adrianna.png" alt="Adrianna">
                        <p class="contributor-name">Adrianna</p>
                    </a>
                </div>
                <!-- Add more contributors as needed -->
            </div>
        </div>
    </div>
    <!-- Carousel Controls -->
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>





{% endblock %}

{% block footer %}
{% endblock %}