{% extends 'base.html' %}
{% load static %}
{% block title %}Note - on a + note{% endblock %}

{% block content %}

<div class="container-fluid text-center mt-5">
    <h1>Affirmations</h1>
</div>
<div class="container-fluid" id="container-fluid">
    <div class="row mt-4 container-note">
        <div class="col-3 ml-5" id="note-innercontainer">
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Motivation">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3" id="reset-margin">Motivation</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Self-love">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3" id="reset-margin">Self-love</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Pick-me-up">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3" id="reset-margin">Pick Me Up</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Confidence">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3" id="reset-margin">Confidence</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Funny">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3" id="reset-margin">Funny</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Success">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Success</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Courage">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Courage</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Mindfulness">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Mindfulness</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Positivity">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Positivity</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Gratitude">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Gratitude</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Peace">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2" id="reset-margin">Peace</button>
            </form>
        </div>
        <div class="col-8" id="note-display-container">
            <div class="note-window ml-4 note-display" id="note-display">
                <div class="heart-pulse">
                    <img src="{% static 'images/heart.png' %}" alt="Heart" class="heart-img">
                </div>
                {% if affirmation %}
                    <p class="text-center d-flex justify-content-start mb-5">Category: {{ affirmation.category }}</p>
                    <h2 class="text-center affirmation p-3">{{ affirmation.text }}</h2>
                {% else %}
                    <h2 class="text-center mb-5 mt-5">Welcome!</h2>
                    <h3 class="text-center affirmation">Pick a category and let's sprinkle some positivity with a side of humor. Remember, life doesn't always go according to plan.. but that's where the best stories begin! </h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}