{% extends 'base.html' %}
{% load static %}
{% block title %}Note - on a + note{% endblock %}

{% block content %}

<div class="container-fluid text-center mt-5">
    <h1>Affirmations</h1>
</div>
<div class="container-fluid">
    <div class="row mt-4 container-note">
        <div class="col-3 ml-5">
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Motivation">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3">Motivation</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Self-love">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3">Self-love</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Pick-Me-Up">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3">Pick Me Up</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Confidence">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3">Confidence</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Funny">
                <button type="submit" class="btn btn-outline-primary col-12 mb-3">Funny</button>
            </form>
            <form action="{% url 'get_random_affirmation' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="category" value="Success">
                <button type="submit" class="btn btn-outline-primary col-12 mt-2">Success</button>
            </form>
        </div>
        <div class="col-8">
            <div class="note-window ml-4">
                {% if affirmation %}
                    <h2 class="text-center">Category: {{ affirmation.category }}</h2>
                    <p>{{ affirmation.text }}</p>
                {% else %}
                    <h2 class="text-center">We are so sorry!</h2>
                    <h3 class="text-center">There seems to be a problem with this affirmation. Please check back later.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}