{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block head_title %}{{ user.username }} | Django Blog{% endblock head_title %}

{% block content %}
<!-- Main content section -->
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7">
        <!-- User profile card -->
       
      </div>
    </div>
  </div>
</section>

{% endblock %}