.App {
  min-height: 100vh;
  background-color: #f7f7f7;
  color: #000000;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  transition: color ease-in-out 0.2s;
}

i {
  vertical-align: middle;
  color: #acacac;
  font-size: 25px;
  padding: 8px;
}

i:hover {
  color: #008080;
  cursor: pointer;
  transition: color ease-in-out 0.2s;
}